body{
  font-family: Times New Roman;
  background: linear-gradient(45deg,#08001f,#30197d);
  
}

.clock-dial{
  width: 500px;
  height: 500px;
  border: 2px solid #592626c0;
  border-radius: 50%;
  Margin: 5% 5% 5% 5%;
  position: relative;
  background: url(motor.jpg);
  
}



.hour {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  position: absolute;
}

.hour-1{
  top: 40px;
  right: 130px;
}

.hour-2{
  top: 125px;
  right: 45px;
  
  color: black;
}

.hour-3{
  top: 235px;
  right: 10px;
  color: black;
}

.hour-4{
  top: 345px;
  right: 45px;
  color: black;
}

.hour-5{
  top: 430px;
  right: 130px;
}

.hour-6{
  bottom: 10px;
  left: 240px;
}

.hour-7{
  top: 430px;
  left: 130px;
}

.hour-8{
  top: 345px;
  left: 45px;
}

.hour-9{
  top: 235px;
  left: 10px;
  color: black;
}

.hour-10{
  top: 125px;
  left: 45px;
}

.hour-11{
  top: 40px;
  left: 130px;
}

.hour-12{
  top: 10px;
  left: 235px;
}

.brand{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: red;
  position: absolute;
  top: 90px;
  left: 42.5%;
}

.minute-hand-wrapper{
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 50%;
}

.minute-hand{
  position: relative;
  
}

.minute-hand .hand{
  width: 4px;
  height: 200px;
  background-color: yellow;
  position: absolute;
  left: 198px;
}

/*.minute-hand .arrow{
  font-size: 30px;
  font-weight: bold;
  color: #404b69;
  transform: rotate(180deg);
  position: absolute;
  left: 191.5px;
  top: -7.6px;
}*/

.hour-hand-wrapper{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}

.hour-hand{
  position: relative;
  
}

.hour-hand .hand{
  width: 4px;
  height: 150px;
  background-color: green;
  position: absolute;
  left: 148px;
}

/*.hour-hand .arrow{
  font-size: 30px;
  font-weight: bold;
  color: #404b69;
  transform: rotate(180deg);
  position: absolute;
  left: 140px;
  top: -7.6px;
}*/

.second-hand-wrapper{
  width: 350px;
  height: 350px;
  position: absolute;
  top: 75px;
  left: 75px;
  border-radius: 50%;
}

.second-hand{
  position: relative;
  
}

.second-hand .hand{
  width: 2px;
  height: 175px;
  background-color: red;
  position: absolute;
  left: 174px;
}
.dot{
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 240px;
}
